@mixin scrollBar {
  &::-webkit-scrollbar {
    width: 32px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track;
    border-radius: 10px;
  }
}